<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331746209744-uaotssm4tn7gc706fqbrh2uq3an7a10k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331746209744-uaotssm4tn7gc706fqbrh2uq3an7a10k</string>
	<key>API_KEY</key>
	<string>AIzaSyAtaPSfm7A93S05nPRC3dAcgpC5V4Izby0</string>
	<key>GCM_SENDER_ID</key>
	<string>331746209744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.ipdisk.dbspark711.RawMaterialPrice</string>
	<key>PROJECT_ID</key>
	<string>iosapp-8faed</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp-8faed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331746209744:ios:ad5cd235a9907724</string>
	<key>DATABASE_URL</key>
	<string>https://iosapp-8faed.firebaseio.com</string>
</dict>
</plist>